/* utilities */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body{
    max-width: 70%;
    background-color: rgb(88, 152, 177);
    margin: 20px auto;
    font-family: 'Nerko One', cursive;
}
.float{
    float: left;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
/* header */

header h1{
    text-align: center;
    font-size: 60px;
    color: white;
}
/* main */
.container{
    margin-top: 50px;
}

.row .card{
    width: calc(100% / 4 - 20px); 
    height: 350px;
    border-radius: 15px;
    background-color: white;
    background-image: url(../img/pattern.png);
    background-size: contain;
    margin: 10px;
} 

.row .card:hover{
    background-image: url(../img/nave.png);
    background-size: 70%;
    background-position:center;
    background-repeat: no-repeat;
} 

.card .card-text h2{
    font-size: 50px;
    text-align: center;
    padding-top: 250px;
    visibility: visible;
}

.card .card-text h2:hover{
    visibility: visible;
}

.fixed-card{
    width: calc(100% / 4 - 20px); 
    height: 350px;
    border-radius: 15px;
    background-color: white;
    background-size: 70%;
    background-image: url(../img/trattore.png);
    background-position:center;
    background-repeat: no-repeat;
    margin: 10px;
}

.fixed-card .card-text h2{
    font-size: 50px;
    text-align: center;
    padding-top: 250px;
    color: khaki;
}





